DJANGO_SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=your_db
DB_USER=your_user
DB_PASSWORD=yourpassword
DB_HOST=localhost
DB_PORT=5432

DTR_API_BASE_URL=
DTR_API_KEY=your-dtr-api-key