---
import IconSidebar from "../assets/dashboard-icon.svg?raw"
---

<div id="navbar">
    <div class="left-group">
        <button id="sidebar-toggle" class="bg-[var(--primary-navyblue)] p-2 rounded-xl [&>svg]:stroke-white" set:html={IconSidebar} />
    </div>
    <div class="right-group">
        <a href="/">Users</a>
    </div>
</div>

<style>
    #navbar {
        background-color: #ffffff00;
        background-blur: 1px;
        box-shadow: var();
        height: 60px;
        padding: 20px;
        border-bottom: 1px solid #00000050;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .right-group{
        display: flex;
        gap: 20px;
    }
</style>