:root{
    --primary-orange: #F26B2A;
    --primary-navyblue: #1A2B4A;

    --white: #FFFFFF;
    --black: #000000;
    
    --orange-gradient: linear-gradient(var(--orange), #BE521E); 
    --navyblue-gradient: linear-gradient(var(--darker-blue), #253B62); 

    --default-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}