  /* src/app/globals.css */

  /* 1. Inject Tailwind's core styles */
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  /* 2. Establish baseline application styles */
  @layer base {
    :root {
      --background: #F0F3F8;  /* Tailwind slate-50 */
      --foreground: #0f172a; /* Tailwind slate-900 */
      --primary-orange: #f26b2a;
      --primary-navy: #1A2B4A; 
      --white: #FFFFFF; 
      --black: #000000; 
      --display-headings-text: 42px;
      --metrics-text: 32px; 
      --title-text: 24px; 
      --button-text: 20px; 
      --paragraph-text: 16px; 
    }

    body {
      background-color: var(--primary-orange);
      color: var(--foreground);
      font-family: var(--body-font), sans-serif;
       
      /* Improves text rendering on modern screens */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    h1, h2, h3, h4, h5, h6{
      font-family: var(--headings-font), sans-serif;
    }
  }

  /* 3. Optional: Custom utility classes */
  @layer utilities {
    /* A custom class to hide scrollbars but keep functionality */
    .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .scrollbar-hide::-webkit-scrollbar {
      display: none;
    }
  }