---
import { ClientRouter } from 'astro:transitions';
import Sidebar from '../components/Sidebar.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <title>Kwentadoor</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <ClientRouter />
    </head>
    <body>
        <Sidebar />
        <main>
            <Navbar />
            <div class="slot-wrapper">
                <slot />
            </div>
        </main>
    </body>
</html>

<style>
    body {
        margin: 0;
        display: flex;
        flex-direction: row;
        height: 100vh;	
    }

    main {
        flex: 1; 
        display: flex;
        flex-direction: column;
    }

    .slot-wrapper {
        flex: 1;
        overflow-y: auto;
        padding: 2rem;
        background-color: #7c0303; 
    }
</style>